* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}
.primary-btn {
  font-weight: 600;
  font-size: 20px;
  color: #ffffff;
  padding: 16px 20px;
  background-color: #ff5959;
  border-radius: 5px;
  border: 0;
}
.discription {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
}
.tex-center {
  text-align: center;
}
header {
  background-image: linear-gradient(
      360deg,
      #121212 0%,
      rgba(18, 18, 18, 0) 100%
    ),
    url(../images/donation15.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.header-content {
  width: 826px;
  color: #ffffff;
  text-align: center;
  padding: 175px 0;
  margin: auto;
}
.header-title {
  font-weight: 700;
  font-size: 65px;
  line-height: 79px;
}
.header-disc {
  width: 690px;
  margin: 30px auto;
}
.donate-amount,
.donate-plans {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 130px;
}
.section-title {
  color: #121212;
  font-size: 45px;
  font-weight: 700;
  margin-bottom: 20px;
}
.section-disc {
  width: 690px;
  color: #707070;
  margin-bottom: 50px;
}
.amount-selector {
  display: flex;
  gap: 22px;
  margin-bottom: 60px;
}
.amount-selector li {
  width: 135px;
  font-weight: 700;
  font-size: 30px;
  text-align: center;
  list-style: none;
  color: #707070;
  background-color: #fafafa;
  border-radius: 5px;
  padding: 43px 0;
}
.amount-selector li:hover {
  color: #ff5959;
  background-color: #ffeeee;
  border: 2px solid #ff5959;
}
.amount-selector li.active {
  color: #ff5959;
  background-color: #ffeeee;
  border: 2px solid #ff5959;
}
.custom-amount {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.custom-amount input[type="number"] {
  width: 765px;
  color: #b3b3b3;
  border: 0;
  border-bottom: 1px solid #dadada;
  margin-bottom: 30px;
  outline: none;
  -webkit-appearance: none;
}
.custom-amount input[type="number"]:valid {
  color: #ff5959;
  font-weight: 700;
}
/* Remove Arrows/Spinners */
/* Chrome, Safari, Edge, Opera */
.custom-amount input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.donate-items {
  width: 1128px;
  display: flex;
  gap: 24px;
}
.donate-item1,
.donate-item2,
.donate-item3 {
  padding: 63px 23px 54px;
  border-radius: 5px;
}
.donate-item1 {
  background-color: #4f9da61a;
}
.donate-item2 {
  background-color: #ff59591a;
}
.donate-item3 {
  background-color: #fff4d6;
}
.donate-item-title,
.donate-item-disc {
  font-family: "Poppins", sans-serif;
}
.donate-item-title {
  font-size: 24px;
  margin: 31px 0 16px;
}
.necessity {
  width: 1128px;
  margin: 130px auto;
}
.their-lives,
.their-needs {
  display: flex;
  align-items: center;
  gap: 85px;
}
.their-needs {
  flex-direction: row-reverse;
}
.their-needs-img1 {
  background-image: url(../images/donation2.jpg);
}
.their-needs-img2 {
  background-image: url(../images/donation9.jpg);
}
.their-needs-img1,
.their-needs-img2 {
  width: 456px;
  height: 477px;
  border-radius: 5px;
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: cover;
}
